<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Paneli i të dhënave</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="/css/admin-img/logos/logo-skolla.png"
    />
    <link rel="stylesheet" href="/css/admin-css/styles.min.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>

  <body>
    <!--  Body Wrapper -->
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
    >
      <!-- Sidebar Start -->
      <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>
          <div
            class="brand-logo d-flex align-items-center justify-content-between"
          >
            <a class="text-nowrap logo-img">
              <img
                src="/css/admin-img/logos/logo-skolla.png"
                height="190px"
                width="190px"
                alt=""
              />
            </a>
            <div
              class="close-btn d-xl-none d-block sidebartoggler cursor-pointer"
              id="sidebarCollapse"
            >
              <i class="ti ti-x fs-8"></i>
            </div>
          </div>
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="/admin-add-role"
                  aria-expanded="false"
                >
                  <span>
                    <i class="fa-solid fa-pencil"></i>
                  </span>
                  <span class="hide-menu">Profesionet</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="/admin-subjects"
                  aria-expanded="false"
                >
                  <span>
                    <i class="fa-solid fa-book"></i>
                  </span>
                  <span class="hide-menu">Lëndët</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="/admin-staff"
                  aria-expanded="false"
                >
                  <span>
                    <i class="fa-solid fa-user"></i>
                  </span>
                  <span class="hide-menu">Stafi</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="/admin-plan"
                  aria-expanded="false"
                >
                  <span>
                    <i class="fa-solid fa-file"></i>
                  </span>
                  <span class="hide-menu">Plani Zhvillimor</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="/admin-news"
                  aria-expanded="false"
                >
                  <span>
                    <i class="fa-solid fa-envelope"></i>
                  </span>
                  <span class="hide-menu">Lajmet</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="/admin-contact"
                  aria-expanded="false"
                >
                  <span>
                    <i class="fa-solid fa-message"></i>
                  </span>
                  <span class="hide-menu">Mesazhet e Pranuara</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="/admin-auth-edit/<%= user._id %>"
                  aria-expanded="false"
                >
                  <span>
                    <i class="active fa-solid fa-user-pen"></i>
                  </span>
                  <span class="hide-menu">Përditëso Llogarinë</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="/admin-help"
                  aria-expanded="false"
                >
                  <span>
                    <i class="fa-solid fa-question"></i>
                  </span>
                  <span class="hide-menu">Si ta përdorni faqen</span>
                </a>
              </li>
              <li class="sidebar-item mt-5">
                <a
                  class="sidebar-link"
                  href="/auth/logout"
                  aria-expanded="false"
                >
                  <span>
                    <i
                      class="fa-solid fa-arrow-right-from-bracket"
                      style="color: #e72d18"
                    ></i>
                  </span>
                  <span class="hide-menu" style="color: #e72d18">Shkyçuni</span>
                </a>
              </li>
            </ul>
          </nav>

          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <!--  Sidebar End -->
      <!--  Main wrapper -->
      <div class="body-wrapper">
        <div class="container-fluid">
          <h2 style="font-size: 36px; margin-bottom: 25px">
            Ju tani po <u style="color: #da930e">ndryshoni</u> Llogarine!
          </h2>

          <h3 style="margin-bottom: 40px">
            Në këtë faqe mund të ndryshoni Email-in apo Fjalëkalimin e llogarisë
            suaj.
          </h3>

          <form id="authForm">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email:</label>
              <input
                value="<%= user.email %>"
                type="text"
                class="form-control"
                id="authEmail"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Fjalëkalimi:</label
              >
              <input
                placeholder="Fjalëkalimi juaj"
                type="password"
                class="form-control"
                id="authPassword"
                aria-describedby="emailHelp"
              />
            </div>
            <button type="submit" class="btn btn-primary">Ndrysho</button>
          </form>
        </div>
      </div>
    </div>
    <script src="/css/admin-lib/jquery/dist/jquery.min.js"></script>
    <script src="/css/admin-lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/css/admin-js/sidebarmenu.js"></script>
    <script src="/css/admin-js/app.min.js"></script>
    <script src="/css/admin-lib/simplebar/dist/simplebar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
      const authForm = document.getElementById('authForm');

      authForm.addEventListener('submit', async (e) => {
        e.preventDefault();
        const authEmail = document.getElementById('authEmail').value;
        const authPassword = document.getElementById('authPassword').value;

        const res = await fetch(`/auth/update-auth`, {
          method: 'PUT',
          body: JSON.stringify({
            id: location.pathname.split('/')[2],
            authEmail,
            authPassword,
          }),
          headers: {
            'Content-Type': 'application/json',
          },
        });
        const data = await res.json();

        if (data.status === 'success') {
          Swal.fire({
            icon: 'success',
            title: 'Të dhënat tuaja u ndryshuan!',
            text: 'Sukses!',
            timer: 2000,
            showConfirmButton: false,
          }).then(() => {
            location.assign('/admin-subjects');
          });
        }
      });
    </script>
  </body>
</html>
