<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Paneli i të dhënave</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="/css/admin-img/logos/logo-skolla.png"
    />
    <link rel="stylesheet" href="/css/admin-css/styles.min.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>

  <body>
    <!--  Body Wrapper -->
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
    >
      <!-- Sidebar Start -->
      <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>
          <div
            class="brand-logo d-flex align-items-center justify-content-between"
          >
            <a class="text-nowrap logo-img">
              <img
                src="/css/admin-img/logos/logo-skolla.png"
                height="190px"
                width="190px"
                alt=""
              />
            </a>
            <div
              class="close-btn d-xl-none d-block sidebartoggler cursor-pointer"
              id="sidebarCollapse"
            >
              <i class="ti ti-x fs-8"></i>
            </div>
          </div>
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="/admin-add-role"
                  aria-expanded="false"
                >
                  <span>
                    <i class="fa-solid fa-pencil"></i>
                  </span>
                  <span class="hide-menu">Profesionet</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="/admin-subjects"
                  aria-expanded="false"
                >
                  <span>
                    <i class="fa-solid fa-book"></i>
                  </span>
                  <span class="hide-menu">Lëndët</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="/admin-staff"
                  aria-expanded="false"
                >
                  <span>
                    <i class="fa-solid fa-user"></i>
                  </span>
                  <span class="hide-menu">Stafi</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="/admin-plan"
                  aria-expanded="false"
                >
                  <span>
                    <i class="fa-solid fa-file"></i>
                  </span>
                  <span class="hide-menu">Plani Zhvillimor</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="/admin-news"
                  aria-expanded="false"
                >
                  <span>
                    <i class="fa-solid fa-envelope"></i>
                  </span>
                  <span class="hide-menu">Lajmet</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="/admin-contact"
                  aria-expanded="false"
                >
                  <span>
                    <i class="fa-solid fa-message"></i>
                  </span>
                  <span class="hide-menu">Mesazhet e Pranuara</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="/admin-auth-edit/<%= user._id %>"
                  aria-expanded="false"
                >
                  <span>
                    <i class="fa-solid fa-user-pen"></i>
                  </span>
                  <span class="hide-menu">Përditëso Llogarinë</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="/admin-help"
                  aria-expanded="false"
                >
                  <span>
                    <i class="fa-solid fa-question"></i>
                  </span>
                  <span class="hide-menu">Si ta përdorni faqen</span>
                </a>
              </li>
              <li class="sidebar-item mt-5">
                <a
                  class="sidebar-link"
                  href="/auth/logout"
                  aria-expanded="false"
                >
                  <span>
                    <i
                      class="fa-solid fa-arrow-right-from-bracket"
                      style="color: #e72d18"
                    ></i>
                  </span>
                  <span class="hide-menu" style="color: #e72d18">Shkyçuni</span>
                </a>
              </li>
            </ul>
          </nav>

          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <!--  Sidebar End -->
      <!--  Main wrapper -->
      <div class="body-wrapper">
        <div class="container-fluid">
          <h2 style="font-size: 36px; margin-bottom: 25px">
            Faqja për menaxhimin e
            <b><u style="color: #5d87ff">Lajmeve</u></b> !
          </h2>

          <h3 style="margin-bottom: 40px">
            Në këtë faqe bëhet <span style="color: #5d87ff">shtimi</span> dhe
            paraqitja e lajmeve. Pranë tyre, janë gjithashtu mundësitë për
            <span style="color: orange">ndryshimin</span> ose
            <span style="color: #e72d18">fshirjen</span> e tyre.
          </h3>

          <h3 style="margin-bottom: 40px">
            <span style="color: #c518f9">Titulli</span> dhe
            <span style="color: #21b400">Përshkrimi</span> duhet të jenë të
            njëjta me <span style="color: #c518f9">Titulli Meta</span> dhe
            <span style="color: #21b400">Përshkrimi Meta</span>. Tagjet i
            zgjedhni sipas dëshirës, jepni fjalë që ngjasojnë me emrin e lajmit.
            Tagjet duhet të ndahen me një presje ndërmjet.
          </h3>

          <form
            action="/news/register-news"
            id="newsForm"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Titulli</label>
              <input
                type="text"
                class="form-control"
                id="newsTitle"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Foto</label>
              <input
                name="newsPhotoFile"
                type="file"
                class="form-control"
                id="newsPhoto"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Përshkrimi</label
              >
              <textarea
                type="text"
                class="form-control"
                id="newsDescription"
                aria-describedby="emailHelp"
              ></textarea>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Tagjet</label>
              <input
                type="text   "
                class="form-control"
                id="newsTag"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Titulli Meta</label
              >
              <input
                type="text"
                class="form-control"
                id="newsMetaTitle"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Përshkrimi Meta</label
              >
              <textarea
                type="text"
                class="form-control"
                id="newsMetaDescription"
                aria-describedby="emailHelp"
              ></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Shto</button>
          </form>

          <table class="table">
            <thead>
              <tr>
                <th>Nr.</th>
                <th>Titulli</th>
                <th>Foto</th>
                <th>Përshkrimi</th>
                <th>Tagjet</th>
                <th>Titulli Meta</th>
                <th>Përshkrimi Meta</th>
                <th>Opsionet</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="/js/newsList.js"></script>
    <script src="/css/admin-lib/jquery/dist/jquery.min.js"></script>
    <script src="/css/admin-lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/css/admin-js/sidebarmenu.js"></script>
    <script src="/css/admin-js/app.min.js"></script>
    <script src="/css/admin-lib/simplebar/dist/simplebar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
      const newsForm = document.getElementById('newsForm');

      newsForm.addEventListener('submit', async (e) => {
        e.preventDefault();

        const formData = new FormData();

        const newsTitle = document.getElementById('newsTitle').value;
        const newsPhoto = document.getElementById('newsPhoto').files[0];
        const newsDescription =
          document.getElementById('newsDescription').value;
        const newsTag = document.getElementById('newsTag').value;
        const newsMetaTitle = document.getElementById('newsMetaTitle').value;
        const newsMetaDescription = document.getElementById(
          'newsMetaDescription'
        ).value;

        formData.append('newsTitle', newsTitle);
        formData.append('newsDescription', newsDescription);
        formData.append('newsTag', newsTag);
        formData.append('newsMetaTitle', newsMetaTitle);
        formData.append('newsMetaDescription', newsMetaDescription);
        formData.append('newsPhotoFile', newsPhoto);

        const res = await fetch('/news/register-news', {
          method: 'POST',
          body: formData,
        });
        const data = await res.json();

        if (data.status === 'success') {
          if (typeof Swal !== 'undefined') {
            Swal.fire({
              icon: 'success',
              title: 'Lajmet u shtuan!',
              text: 'Sukses!',
              timer: 1500,
              showConfirmButton: false,
            }).then(() => {
              location.assign('/admin-news');
            });
          } else {
            location.assign('/admin-news');
          }
        }
      });
    </script>
  </body>
</html>
