<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboardi</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="/css/admin-img/logos/logo-skolla.png"
    />
    <link rel="stylesheet" href="/css/admin-css/styles.min.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>

  <body>
    <!--  Body Wrapper -->
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
    >
      <!-- Sidebar Start -->
      <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>
          <div
            class="brand-logo d-flex align-items-center justify-content-between"
          >
            <a href="" class="text-nowrap logo-img">
              <img
                src="/css/admin-img/logos/logo-skolla.png"
                height="190px"
                width="190px"
                alt=""
              />
            </a>
            <div
              class="close-btn d-xl-none d-block sidebartoggler cursor-pointer"
              id="sidebarCollapse"
            >
              <i class="ti ti-x fs-8"></i>
            </div>
          </div>
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="/admin-add-role"
                  aria-expanded="false"
                >
                  <span>
                    <i class="fa-solid fa-pencil"></i>
                  </span>
                  <span class="hide-menu">Profesionet</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="/admin-subjects"
                  aria-expanded="false"
                >
                  <span>
                    <i class="fa-solid fa-book"></i>
                  </span>
                  <span class="hide-menu">Lëndët</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="/admin-staff"
                  aria-expanded="false"
                >
                  <span>
                    <i class="fa-solid fa-user"></i>
                  </span>
                  <span class="hide-menu">Stafi</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="/admin-plan"
                  aria-expanded="false"
                >
                  <span>
                    <i class="fa-solid fa-file"></i>
                  </span>
                  <span class="hide-menu">Plani Zhvillimor</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="/admin-news"
                  aria-expanded="false"
                >
                  <span>
                    <i class="fa-solid fa-envelope"></i>
                  </span>
                  <span class="hide-menu">Lajmet</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="/admin-contact"
                  aria-expanded="false"
                >
                  <span>
                    <i class="fa-solid fa-message"></i>
                  </span>
                  <span class="hide-menu">Mesazhet e Pranuara</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="/admin-auth-edit/<%= user._id %>"
                  aria-expanded="false"
                >
                  <span>
                    <i class="fa-solid fa-user-pen"></i>
                  </span>
                  <span class="hide-menu">Përditëso Llogarinë</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="/admin-help"
                  aria-expanded="false"
                  style="background-color: rgb(35, 173, 0)"
                >
                  <span>
                    <i class="fa-solid fa-question"></i>
                  </span>
                  <span class="hide-menu">Si ta përdorni faqen</span>
                </a>
              </li>

              <li class="sidebar-item mt-5">
                <a
                  class="sidebar-link"
                  href="/auth/logout"
                  aria-expanded="false"
                >
                  <span>
                    <i
                      class="fa-solid fa-arrow-right-from-bracket"
                      style="color: #e72d18"
                    ></i>
                  </span>
                  <span class="hide-menu" style="color: #e72d18">Shkyçuni</span>
                </a>
              </li>
            </ul>
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <!--  Sidebar End -->
      <!--  Main wrapper -->
      <div class="body-wrapper">
        <div class="container-fluid">
          <h2 style="font-size: 36px; margin-bottom: 50px">
            Ne pikat në vazhdim do të
            <span style="color: rgb(35, 173, 0)"><u>njoftoheni</u></span> se si
            të përdorni faqen e administrimit, që shërben për kontrollimin e
            faqes së shkollës "<span style="color: #5d87ff"
              ><u>Gjon Serreqi</u></span
            >"!
          </h2>
          <div class="card w-10 mt-4">
            <div class="card-body">
              <h5>
                <i
                  class="fas fa-exclamation-triangle"
                  style="color: #d78502"
                ></i>
                <span style="color: #d78502; font-weight: 700">Vëmendje</span> -
                Ne qoftë se diçka nuk funksionon siç funksionon zakonisht,
                provojeni një rifreskim (refresh
                <i class="fa-solid fa-rotate-right"></i>) të faqes, apo edhe të
                <span style="color: #e72d18; font-weight: 700">shkyçuni</span>
                nga administrata për tu futur prap.
              </h5>
            </div>
          </div>

          <div class="card w-10 mt-2">
            <div class="card-body">
              <h5 class="mb-4">
                <i class="fa-solid fa-pencil"></i>
                <span style="color: #5d87ff; font-weight: 700"
                  >Profesionet</span
                >
                - Si fillim, ju duhet të caktoni profesionin që dëshironi të
                shtoni. Emri i profesionit jepet nën "Profesioni". Më pas, ju
                keni opsionin e një checkbox-i për të shënuar nëse profesioni i
                dhënë është ose jo roli i një arsimtari. Nëse po, atëherë ju
                klikoni katrorin e vogël; nëse jo, atëherë ju duhet ta injoronit
                atë. Tutje, ju klikoni butonin "Shto". Pas shtimit të
                profesionit, mund të shihni profesionet e shtuara në tabelën më
                poshtë, ku gjithashtu mund t'i fshini. Profesionet mund të
                shihen në faqe tek "STAFI".
              </h5>
              <h5 class="mb-4">
                <i class="fa-solid fa-book"></i>
                <span style="color: #5d87ff; font-weight: 700">Lëndët</span> -
                Pas krijimit të profesionit, tani mund të shtoni edhe lëndën. Në
                këtë faqe, ju mund të shtoni emrin e lëndës, foton e lëndës,
                ciklin mësimor të tyre të kohës, si dhe klasat përkatëse.
                Paraqitja e tyre bëhet poshtë në tabelë, ku mund të ndryshoni
                dhe fshini çdo lëndë. Lëndët mund të shihen në faqe tek
                "BALLINA".
              </h5>
              <h5 class="mb-4">
                <i class="fa-solid fa-user"></i>
                <span style="color: #5d87ff; font-weight: 700">Stafi</span> -
                Tek stafi, ju shtoni stafin e shkollës. Të dhënat që duhet të
                jepen janë emri dhe mbiemri, kategoria e punëtorit, fotoja, CV,
                profesioni (të cilat i keni shtuar nga faqja "Profesionet"), si
                dhe lënda (të cilat i keni shtuar nga faqja "Lëndët"). Paraqitja
                e tyre bëhet poshtë në tabelë, ku mund të ndryshoni dhe fshini
                çdo pjesëtar të stafit. Anëtarët e stafit mund të shihen në faqe
                tek "STAFI".
              </h5>
              <h5 class="mb-4">
                <i class="fa-solid fa-file"></i>
                <span style="color: #5d87ff; font-weight: 700"
                  >Plani Zhvillimor</span
                >
                - Plani Zhvillimor ka për qëllim paraqitjen e fotografive të
                ndryshme, ku shihen punime të ndryshme në shkollë që do të
                kryhen në të ardhmen, apo që janë në krijim e sipër. Vlerat që
                duhet të jepen janë Viti dhe Fotoja. Paraqitja e tyre bëhet
                poshtë në tabelë, ku mund të ndryshoni dhe fshini çdo plan.
                Planet mund të shihen në faqe tek "RRETH NESH".
              </h5>
              <h5 class="mb-4">
                <i class="fa-solid fa-envelope"></i>
                <span style="color: #5d87ff; font-weight: 700">Lajmet</span> -
                Tek faqja e lajmeve nevojiten informata që shërbejnë për
                publikimin e lajmeve më të reja rreth shkollës. Përveç vlerave
                për lajmet si titulli, fotot dhe përshkrimi, duhet të japim të
                dhëna edhe për tagjet, titullin meta, dhe përshkrimin meta, të
                cilat shërbejnë që lajmet e publikuara të jenë sa më lehtë të
                gjetura në Google. Pra, tek tagjet duhet të jepni tagjet të
                ndryshme me fjalë të kapshme rreth lajmit dhe duhet të ndahen me
                një presje, kurse titulli meta dhe përshkrimi meta duhet të jenë
                të njëjta me titullin dhe përshkrimin e shkuar më lartë në të
                njëjtën faqe. Paraqitja e tyre bëhet poshtë në tabelë, ku mund
                të ndryshoni dhe të fshini çdo lajm. Lajmet mund të shihen në
                faqe tek "LAJMET".
              </h5>
              <h5 class="mb-4">
                <i class="fa-solid fa-message"></i>
                <span style="color: #5d87ff; font-weight: 700"
                  >Mesazhet e Pranuara</span
                >
                - Tek mesazhet e pranuara, ju mund të shihni një listë me
                mesazhe të dërguara nga përdoruesit e faqes, që mund të jenë
                prindërit apo edhe të tjerë. Këto informata vijnë nga pjesa e
                'Kontaktit' në faqen e shkollës, ku përdoruesit mund të dërgojnë
                mesazh tek shkolla. Poshtë e keni listën ku mund të klikoni
                'Shiko të gjithën', ku mund ta shikoni mesazhin e plotë, si dhe
                logon e kuqe që shërben për fshirjen e atij mesazhi.
              </h5>
              <h5 class="mb-4">
                <i class="fa-solid fa-user-pen"></i>
                <span style="color: #5d87ff; font-weight: 700"
                  >Përditëso Llogarinë</span
                >
                - Këtu mund të ndryshoni emailin ose fjalëkalimin e përdoruesit.
                Mund të ndryshoni të dyat, ose vetëm njërën prej tyre. Ju duhet
                ti mbani mend mirë për të qenë në gjendje të futni në
                administratën që jeni aktualisht.
              </h5>
              <h5 class="mb-4">
                <i
                  class="fa-solid fa-arrow-right-from-bracket"
                  style="color: #e72d18"
                ></i>
                <span style="color: #e72d18; font-weight: 700">Shkyçuni</span> -
                Këtu mund të bëhet shkyçja nga administrata. Për të futur prapë,
                duhet të shkoni tek "Kyqu" në faqen e shkollës dhe të jepni
                emailin dhe fjalëkalimin e saktë. Vetëm stafi i autorizuar duhet
                pasur këtë fuqi.
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/css/admin-lib/jquery/dist/jquery.min.js"></script>
    <script src="/css/admin-lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/css/admin-js/sidebarmenu.js"></script>
    <script src="/css/admin-js/app.min.js"></script>
    <script src="/css/admin-lib/simplebar/dist/simplebar.js"></script>
  </body>
</html>
