<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <img src="/css/public-img/logo-skolla.png" width="80px" height="80px"></img>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/" class="nav-item nav-link active">Ballina</a>
            <a href="/about" class="nav-item nav-link">Rreth nesh</a>
            <a href="/news" class="nav-item nav-link ">Lajmet</a>
            <a href="/staff" class="nav-item nav-link">Stafi</a>
            <a href="/contact" class="nav-item nav-link">Kontakti</a>
        </div>
        <a href="/login" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Kyqu<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>
<!-- Navbar End -->