<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
    <ul id="sidebarnav">
      <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link active" href="/admin" aria-expanded="false">
          <span>
            <i class="fa-solid fa-bars"></i>
          </span>
          <span class="hide-menu">Kategoritë</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/admin-subjects" aria-expanded="false">
          <span>
            <i class="fa-solid fa-book"></i>
          </span>
          <span class="hide-menu">Lëndët</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/admin-staff" aria-expanded="false">
          <span>
            <i class="fa-solid fa-user"></i>
          </span>
          <span class="hide-menu">Stafi</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/admin-plan" aria-expanded="false">
          <span>
            <i class="fa-solid fa-file"></i>
          </span>
          <span class="hide-menu">Plani zhvillimor</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/admin-news" aria-expanded="false">
          <span>
            <i class="fa-solid fa-envelope"></i>
          </span>
          <span class="hide-menu">Lajmet</span>
        </a>
        <li class="sidebar-item">
          <a class="sidebar-link" href="admin-assets" aria-expanded="false">
            <span>
              <i class="fa-solid fa-gear"></i>
            </span>
            <span class="hide-menu">Asetet</span>
          </a>
        </li>
      </li>
    </ul>
  </nav>