<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Rreth nesh - SHFMU "Gjon Serreqi"</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="/css/public-img/logo-skolla.png" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="/css/public-lib/animate/animate.min.css" rel="stylesheet" />
    <link
      href="/css/public-lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/public-css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="/css/public-css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Spinner Start -->
    <div
      id="spinner"
      class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div
        class="spinner-border text-primary"
        style="width: 3rem; height: 3rem"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- Spinner End -->

    <%- include('includes/_navbar') %>

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-lg-10 text-center">
            <h1 class="display-3 text-white animated slideInDown">
              Rreth nesh
            </h1>
          </div>
        </div>
      </div>
    </div>
    <!-- Header End -->

    <!-- Service Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="section-title bg-white text-center text-primary px-3">
            Historiku
          </h6>
          <h1 class="mb-5">Historia e shkollës</h1>
        </div>
        <div class="row g-4">
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="service-item text-center pt-3">
              <div class="p-4">
                <h1 class="text-primary mt-2">1992</h1>
                <h5 class="mb-3">U hap Shkolla</h5>
                <p>
                  Në këtë vit shkolla u hap. Kishte 369 nxënës dhe 15 klasa me 2
                  ndërrime.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="service-item text-center pt-3">
              <div class="p-4">
                <h1 class="text-primary mt-2">1999</h1>
                <h5 class="mb-3">U bë lufta</h5>
                <p>
                  Shkolla u okupua nga forcat serbe, por nuk pësoi shkolla shumë
                  dëmtime.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="service-item text-center pt-3">
              <div class="p-4">
                <h1 class="text-primary mt-2">2001</h1>
                <h5 class="mb-3">U rihap shkolla</h5>
                <p>
                  Pas lufës, shkolla u rihap dhe dëmtimet u rregulluan. U shtuan
                  7 klasë dhe u bënë 786 nxënës.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="service-item text-center pt-3">
              <div class="p-4">
                <h1 class="text-primary mt-2">2019</h1>
                <h5 class="mb-3">U ndërrua objekti</h5>
                <p>
                  Objektet u ndërruan me gjimnazin "Shaban Hashani", për shkak
                  të nr. të nxënësve të shkollës.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Service End -->

    <!-- Vison Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="row g-5">
          <div
            class="col-lg-6 wow fadeInUp"
            data-wow-delay="0.1s"
            style="min-height: 400px"
          >
            <div class="position-relative h-100">
              <img
                class="img-fluid position-absolute w-100 h-100"
                src="/css/public-img/about.jpg"
                alt=""
                style="object-fit: cover"
              />
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
            <h6 class="section-title bg-white text-start text-primary pe-3">
              Vizioni
            </h6>
            <h1 class="mb-4">Ç'dojmë të mbërrijmë ne</h1>
            <h5 class="text-primary">Vizioni:</h5>
            <p class="mb-4">
              Zgjidhni shkollën tonë për një udhëtim të pasur të mësimit,
              angazhimin tonë ndaj cilësisë së lartë dhe mbështetjen e një
              ambienti miqësor dhe përkrahës. Shkolla jonë sjell përvojë të
              pasur akademike, zhvillim personal dhe përkushtim të pandërprerë
              ndaj suksesit të nxënësve.
            </p>
            <h5 class="text-primary">Vizioni:</h5>
            <p class="mb-4">
              Zgjidhni shkollën tonë për një udhëtim të pasur të mësimit,
              angazhimin tonë ndaj cilësisë së lartë dhe mbështetjen e një
              ambienti miqësor dhe përkrahës. Shkolla jonë sjell përvojë të
              pasur akademike, zhvillim personal dhe përkushtim të pandërprerë
              ndaj suksesit të nxënësve.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Vision End -->

    <!-- Service Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="section-title bg-white text-center text-primary px-3">
            PZHSH
          </h6>
          <h3 id="schoolYear" class="mb-5">Viti Shkollor:</h3>
        </div>

        <div class="container-fluid p-0 mb-5">
          <div
            class="owl-carousel header-carousel position-relative text-center"
            style="
              width: 700px;
              height: 600px;
              display: flex;
              justify-content: center;
            "
          >
            <% for(let i = 0; i < plan.length; i++){%>
            <div class="owl-carousel-item position-relative text-center">
              <img
                class="img-fluid"
                src="/uploads/<%= plan[i].planDocument %>"
              />
              <div
                class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                style="background: rgba(118, 118, 118, 0.7)"
              >
                <div class="container">
                  <div class="row justify-content-start"></div>
                </div>
              </div>
            </div>
            <%}%>
          </div>
        </div>
      </div>
    </div>
    <!-- Service End -->

    <%- include('includes/_footer') %>

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
      ><i class="bi bi-arrow-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="/js/schoolYear.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/css/public-lib/wow/wow.min.js"></script>
    <script src="/css/public-lib/easing/easing.min.js"></script>
    <script src="/css/public-lib/waypoints/waypoints.min.js"></script>
    <script src="/css/public-lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/css/public-js/main.js"></script>
    <script>
      $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
          0: {
            items: 1,
          },
          600: {
            items: 3,
          },
          1000: {
            items: 5,
          },
        },
      });
    </script>
  </body>
</html>
