<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboardi</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="assets/images/logos/logo-skolla.png"
    />
    <link rel="stylesheet" href="assets/css/styles.min.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>

  <body>
    <!--  Body Wrapper -->
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
    >
      <!-- Sidebar Start -->
      <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>
          <div
            class="brand-logo d-flex align-items-center justify-content-between"
          >
            <a href="./index.html" class="text-nowrap logo-img">
              <img
                src="assets/images/logos/logo-skolla.png"
                height="190px"
                width="100%"
                alt=""
              />
            </a>
            <div
              class="close-btn d-xl-none d-block sidebartoggler cursor-pointer"
              id="sidebarCollapse"
            >
              <i class="ti ti-x fs-8"></i>
            </div>
          </div>
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="index.html" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-bars"></i>
                  </span>
                  <span class="hide-menu">Kategoritë</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="subjects.html"
                  aria-expanded="false"
                >
                  <span>
                    <i class="fa-solid fa-book"></i>
                  </span>
                  <span class="hide-menu">Lëndët</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="staff.html" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-user"></i>
                  </span>
                  <span class="hide-menu">Stafi</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="plan.html" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-file"></i>
                  </span>
                  <span class="hide-menu">Plani zhvillimor</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="news.html" aria-expanded="false">
                  <span>
                    <i class="fa-solid fa-envelope"></i>
                  </span>
                  <span class="hide-menu">Lajmet</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link"
                  href="assets.html"
                  aria-expanded="false"
                >
                  <span>
                    <i class="fa-solid fa-gear"></i>
                  </span>
                  <span class="hide-menu">Asetet</span>
                </a>
              </li>
            </ul>
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <!--  Sidebar End -->
      <!--  Main wrapper -->
      <div class="body-wrapper">
        <div class="container-fluid">
          <h1 class="text-center mb-2">Lorem, ipsum.</h1>
          <div class="card w-100">
            <div class="card-body">
              <p class="card-text"><b>E-maili: </b>akil@email.com</p>
              <p class="card-text"><b>Tema: </b>Lista përmirësimesh</p>
              <p class="card-text">
                <b>Mesazhi: </b>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Quibusdam a eius provident sit atque
                cupiditate mollitia, ducimus nostrum animi possimus culpa amet
                magni, quia quas sunt labore nisi repudiandae voluptatibus
                accusamus sequi! Sed doloremque aliquid, eligendi quasi ipsum
                dolor qui rem, molestias repellat voluptatibus possimus earum
                architecto incidunt laborum blanditiis.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/sidebarmenu.js"></script>
    <script src="assets/js/app.min.js"></script>
    <script src="assets/libs/simplebar/dist/simplebar.js"></script>
  </body>
</html>
