<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Lajmet - SHFMU "Gjon Serreqi"</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/css/public-img/logo-skolla.png" rel="icon">


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/css/public-lib/animate/animate.min.css" rel="stylesheet">
    <link href="/css/public-lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/public-css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/public-css/style.css" rel="stylesheet">
</head>

<body>

  <%- include('includes/_navbar') %>

            <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Lajmet</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <div class="untree_co-section">
        <div class="container-xxl pt-5 wow fadeInUp" data-wow-delay="0.1s">
          <div class="row align-items-stretch">
            <div class="col-lg-6 mb-4"  data-aos="fade-up" data-aos-delay="100">
              <div class="media-h d-flex h-100">
                <figure>
                  <img class="news-image" src="https://raisingchildren.net.au/__data/assets/image/0033/48894/learning-baby-preschool-narrow.jpg" alt="Image">
                </figure>
                <div class="media-h-body">
                    <h2 class="mb-3"><a class="news-text" href="#">Nxenësi fiton garën ne nivel ndërkombëtar</a></h2>
                 <div class="post-info"><i class="fa-solid fa-calendar"></i><span class="text-primary"> 20 Janar, 2024</span></div>
                  <p class="mt-3">Nxënësi i klasës së shatë Filan Fisteku sot fitoi garën "Math Kids Kosova" që u mbajt në Fushë Kosovë. Filani u intervistua nga shumë media Kosvare dh gjithashtu shkoi sikur musafir ne emisionin e mëngjesit të RTK-së.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4"  data-aos="fade-up" data-aos-delay="200">
              <div class="media-h d-flex h-100">
                <figure>
                  <img class="news-image" src="https://tenneyschool.com/wp-content/uploads/2018/12/competition.jpg" alt="Image">
                </figure>
                <div class="media-h-body">
                    <h2 class="mb-3"><a class="news-text" href="#">Nxenësi fiton garën ne nivel ndërkombëtar</a></h2>
                 <div class="post-info"><i class="fa-solid fa-calendar"></i><span class="text-primary"> 20 Janar, 2024 </span><i cl></i></div>
                  <p class="mt-3">Nxënësi i klasës së shatë Filan Fisteku sot fitoi garën "Math Kids Kosova" që u mbajt në Fushë Kosovë. Filani u intervistua nga shumë media Kosvare dh gjithashtu shkoi sikur musafir ne emisionin e mëngjesit të RTK-së.</p>
                </div>
              </div>
            </div>
    
            <div class="col-lg-6 mb-4"  data-aos="fade-up" data-aos-delay="100">
              <div class="media-h d-flex h-100">
                <figure>
                  <img class="news-image" src="https://elearningindustry.com/wp-content/uploads/2021/04/create-effective-online-learning-that-kids-will-love.png" alt="Image">
                </figure>
                <div class="media-h-body">
                    <h2 class="mb-3"><a class="news-text" href="#">Nxenësi fiton garën ne nivel ndërkombëtar</a></h2>
                 <div class="post-info"><i class="fa-solid fa-calendar"></i><span class="text-primary"> 20 Janar, 2024 </span></div>
                  <p class="mt-3">Nxënësi i klasës së shatë Filan Fisteku sot fitoi garën "Math Kids Kosova" që u mbajt në Fushë Kosovë. Filani u intervistua nga shumë media Kosvare dh gjithashtu shkoi sikur musafir ne emisionin e mëngjesit të RTK-së.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4"  data-aos="fade-up" data-aos-delay="200">
              <div class="media-h d-flex h-100">
                <figure>
                  <img class="news-image" src="https://careerteachers.co.uk/wp-content/uploads/2023/12/pexels-rdne-stock-project-7092613-1-scaled.jpg" alt="Image">
                </figure>
                <div class="media-h-body">
                    <h2 class="mb-3"><a class="news-text" href="#">Nxenësi fiton garën ne nivel ndërkombëtar</a></h2>
                 <div class="post-info"><i class="fa-solid fa-calendar"></i><span class="text-primary"> 20 Janar, 2024 </span><i cl></i></div>
                  <p class="mt-3">Nxënësi i klasës së shatë Filan Fisteku sot fitoi garën "Math Kids Kosova" që u mbajt në Fushë Kosovë. Filani u intervistua nga shumë media Kosvare dh gjithashtu shkoi sikur musafir ne emisionin e mëngjesit të RTK-së.</p>
                </div>
              </div>
            </div>
    
    
            <div class="col-lg-6 mb-4"  data-aos="fade-up" data-aos-delay="100">
              <div class="media-h d-flex h-100">
                <figure>
                  <img class="news-image" src="https://wpvip.edutopia.org/wp-content/uploads/2023/06/2K178XC-crop.jpg" alt="Image">
                </figure>
                <div class="media-h-body">
                    <h2 class="mb-3"><a class="news-text" href="#">Nxenësi fiton garën ne nivel ndërkombëtar</a></h2>
                   <div class="post-info"><i class="fa-solid fa-calendar"></i><span class="text-primary"> 20 Janar, 2024 </span><i cl></i></div>
                    <p class="mt-3">Nxënësi i klasës së shatë Filan Fisteku sot fitoi garën "Math Kids Kosova" që u mbajt në Fushë Kosovë. Filani u intervistua nga shumë media Kosvare dh gjithashtu shkoi sikur musafir ne emisionin e mëngjesit të RTK-së.</p>
                  </div>
              </div>
            </div>
            <div class="col-lg-6 mb-4"  data-aos="fade-up" data-aos-delay="200">
              <div class="media-h d-flex h-100">
                <figure>
                  <img class="news-image" src="https://childrenswi.org/-/media/chwlibrary/newshub/2021/learn-to-read/learntoread9003.jpg?h=514&mw=900&w=900&hash=AB5C1AD40BD4DDEE989E54C23F8633E1" alt="Image">
                </figure>
                <div class="media-h-body">
                  <h2 class="mb-3"><a class="news-text" href="#">Nxenësi fiton garën ne nivel ndërkombëtar</a></h2>
                 <div class="post-info"><i class="fa-solid fa-calendar"></i><span class="text-primary"> 20 Janar, 2024 </span><i cl></i></div>
                  <p class="mt-3">Nxënësi i klasës së shatë Filan Fisteku sot fitoi garën "Math Kids Kosova" që u mbajt në Fushë Kosovë. Filani u intervistua nga shumë media Kosvare dh gjithashtu shkoi sikur musafir ne emisionin e mëngjesit të RTK-së.</p>
                </div>
              </div>
            </div>
    
          </div>
    
      </div>
      
      <%- include('includes/_footer') %>


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/css/public-lib/wow/wow.min.js"></script>
    <script src="/css/public-lib/easing/easing.min.js"></script>
    <script src="/css/public-lib/waypoints/waypoints.min.js"></script>
    <script src="/css/public-lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/css/public-js/main.js"></script>
</body>

</html>